.cache/
amx-items
elpa/
ido.last
init.el~
lib/hyper-modern-use-package.el
maas-neotek-dark.el
recentf
smex-items
straight/build-cache.el
straight/build/
straight/repos/
transient/
tree-sitter/
auto-save-list
projectile-bookmarks.eld
request
/llama.log
/emacs/eln-cache/
/emacs/straight/build-cache.el
/emacs/straight/build/
/emacs/straight/repos/
/emacs/hyper-modern-ai-prompts-history.el
result
